body {
  margin: 0;
}

.slider-container {
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100vw;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}

.slider-item {
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.slider-info {
  width: 50%;
  height: 100%
}