@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;900&display=swap');

body {
  margin: 0;
  font-family: Mulish, sans-serif;
}

.slider-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.slide-left, .slide-right {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 4rem;
  height: 100%;
  font-weight: 900;
  position: absolute;
  z-index: 1;
  width: 10%;
}

.slide-left {
  left: 0;
}

.slide-right {
  right: 0;
}

.slider {
  width: 100vw;
  position: relative;
  height: calc(900px - 20vw);
  overflow: hidden;
  background-color: #f4f5f7;
}

.slider-item {
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.slider-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 50%;
  height: 100%;
}

.slider-info {
  width: 35%;
  height: 100%;
  padding: 20px 0 0 2%;
}

.slider-info * {
  margin: 0;
  line-height: 1.75;
}

.slider-info h2, h3, .location {
  font-weight: 900;
}

.slider-info h2 {
  font-size: 4.5rem;
  height: 100px;
}

.slider-info h3 {
  font-size: 1.5em;
}

.description {
  font-size: 1.3rem;
  margin: 1.7rem 0;
}

.controller-container {
  display: flex;
  margin: 100px auto;
  width: 80vw;
  position: relative;
}

.slider-controll {
  cursor: pointer;
  height: 20px;
  border-bottom: solid #ededed 3px;
  background-color: transparent;
}

.controll-active {
  cursor: pointer;
  height: 20px;
  width: 5%;
  border-bottom: solid black 3px;
  background-color: transparent;
  position: absolute;
}

@media only screen and (max-width: 1100px) {
  .slider {
    height: calc(700px - 20vw);
  }
  .slider-image {
    background-position: 30% 40%;
  }
  
  .slider-info h2 {
    font-size: 3rem;
    height: 100px;
  }
  
  .slider-info h3 {
    font-size: 1em;
  }
  
  .description {
    font-size: 1rem;
    margin: 1.7rem 0;
  }
}

@media only screen and (max-width: 750px) {
  .slider-item {
    flex-direction: column;
    width: 100%;
  }
  .slider-image, .slider-info {
    width: 80%;
    height: 800px;
  }
}