@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;900&display=swap');

body {
  margin: 0;
  font-family: Mulish, sans-serif;
}

.slider-container {
  overflow: hidden;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100vw;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #f4f5f7;
}

.slider-item {
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  display: flex;
  overflow: hidden;
}

.slider-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.slider-info {
  width: 40%;
  height: 100%;
  padding: 40px;
}

.slider-info h2, h3, .location {
  font-weight: 900;
}

.slider-info h2 {
  font-size: 3.375em;
}

.slider-info h3 {
  font-size: 1.5em;
}